* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/*generic*/

img {
    width: 100%;
    margin-bottom: 2rem;
}

.container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

li {
    list-style: none;
}

li + li {
    margin-top: .8rem;
}

a {
    text-decoration: none;
    color: #fff;
}

/*fonts*/
.font-1 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}

.font-2 {
    font-size: 5.4rem;
    font-weight: bold;
    color: #fff;
}

.font-3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    opacity: .7;
    margin-bottom: 2rem;
}

.font-4 {
    font-size: 1.5rem;
    font-weight: bold;
    background: #A59678;
    padding: .2rem 1rem;
    border-radius: 45px;
}

.font-5 {
    font-size: 1.9rem;
    font-weight: bold;
    text-align: center;
}

.font-5__para {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.18rem;
    text-align: center;
}

.font-6 {
    font-size: 2.4rem;
    font-weight: bold;
}

.font-6__para {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.font-7 {
    font-size: 1.85rem;
    font-weight: bold;
}

.font-7__para {
    font-family: 'Montserrat', sans-serif;
    /*font-weight: 200;*/
    font-size: 1.17rem;
    opacity: .8;
}

.font-8 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.font-9 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #A59678;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 3.4rem;
}

.font-9__para {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #fff;
    opacity: .7;
    text-align: center;
    margin-bottom: 1rem;
}

/*  styleing   */

span {
    color: #A59678;
}

.sign-up {
    border-radius: 45px;
    background: #A59678;
    padding: .2rem 1rem;
}

nav {
    background: #2E323F;
    color: #fff;
}

.main-section {
    background: #3B4050;
}

.secondary-section {
    background: #e4e4e4;
}

.fourth-section {
    background: #3B4050;
    padding-top: 2rem;
    margin-top: 3rem;
}

.flex {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.col__child {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #2E323F;
    color: #fff;
    padding: 1rem 3rem;
    text-align: center;
}

.col__child + .col__child {
    margin-top: 1rem;
}

.logo {
    font-size: 2.5rem;
}

ul {
    padding-top: 2rem;
}

ul + ul {
    padding-bottom: 2rem;
}

li {
    text-align: center;    
}

section {
    padding: 3rem 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 2rem;
}

.secondary-section__col + .secondary-section__col {
    margin-top: 2rem;
}

.break-work-lorem {
    margin-top: 4rem;
}

@media screen and (min-width:1000px) {
    .break-work-lorem {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .col__child {
        width: 31%;
    }
}

@media screen and (min-width:1500px) {
    .row {
        display: flex;
        border: 2px solid red;
        justify-content: space-between;
        align-items: center;
    }

    li + li {
        margin-top: 0;
        margin-left: 1rem;
    }

    .logo {
        padding: 0;
    }

    ul {
        padding: 0;
    }

    .nav-bar {
        padding: 0;
    }

    .container {
        max-width: 2000px;
    }

    .main-section {
        padding-bottom: 7rem;
        position: absolute;
    }

    .main-section__text {
        position: relative;
        bottom: 1px;
    }

    h1 {
        line-height: 1.2;
    }
}